<!DOCTYPE html>
<html lang="en">

<head>
  <title>MyShoppingList - Carlos Campos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="js/index.js"></script>
</head>

<body>

  <div class="jumbotron text-center">
    <h1>My MyShoppingList</h1>
    <p>A project to never forget an item when shopping!</p>
  </div>

  <div class="container" ng-app="indexPage">
    <div class="row" ng-controller="myListInput">
      <div class="col-sm-6">
        <input type="text" ng-model="newItem"/>
        <button ng-click="addItem()">Save Item</button>
        <span>{{notice}}</span>
      </div>
      <div class="col-sm-6">
        <div ng-repeat="carItems in cart">
          <ul>
            <li>{{carItems}} - <span ng-click="deleteItem($index)">X</span></li>
          </ul>
        </div>
      </div>

    </div>
  </div>


</body>

</html>